
<div class="bg-white col-6 m-auto py-2 shadow-sm">
  <h1 class="text-center">Edit flat</h1>
  <%= render 'form', flat: @flat %>
  <div class="m-auto">
    <%= link_to 'Back', flats_path, class: 'btn btn-light w-100 mt-3 text-secondary border' %>
  </div>
</div>
